.page{
  display: none;
  position: relative;
  margin-left: 150px;
  margin-top: 100px;
  margin-right: 200px;
  width: 900px;
  border: 0.5px solid #a1a1a1;
}


.broken_pic {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.subGoal-container {
  border: 1px solid #ccc;
  padding: 0px;
  margin: 2px;
  flex-basis: 30%; /* width */
}

ul {
  list-style-type: none ;
  padding-left: 30px;
  padding-top: 5px;
  margin: 0;
}

.selectSubGoal {
  display: inline-block;
  background-color: rgb(232, 232, 232);
  border-radius: 2px;
  padding: 10px;
  border: 1px solid;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}